<footer>
  <div class="pull-center">
    <div class="text-center">
      <div class="col-12" style="padding: 10px;">
        <img class="navbar-logo" src="./assets/images/logo_gray.png" style="height: 39px;" alt="Logo">
      </div>
      <div class="col-12" style="margin-bottom: 20px;">
        <h4>MotoCar<strong>Advisor</strong></h4>
      </div>
      <div class="col-12" style="padding-left: 50px; padding-right: 50px;">
        <h6>
          MotocarAdvisor
          <br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim.
          <br>
        </h6>
        <h6>
          <strong>Tutti i diritti riservati - All rights reserved - Informativa Privacy - Lic. SIAE n. 4653/I/908</strong>
        </h6>
      </div>
      <div class="col-12" style="margin-bottom: 20px; margin-top: 20px;">
        <a href="#"><img src="./assets/images/facebook.png"></a>
        <a href="#"><img src="./assets/images/twitter.png"></a>
        <a href="#"><img src="./assets/images/googleplus.png"></a>
      </div>
      <div class="col-12 bg-footer-row text-center">
        <span>Made with <i class="fa fa-heart" aria-hidden="true"></i> </span>
      </div>
    </div>
  </div>
</footer>
